<!-- This form will take existing parameters and place it into the text fields. Upon submit, it will redirect to the question that was edited -->
<div class="container">
  <h4>Create a question:</h4>
  <p>
    <%= form_for @question do |f|%>
      <%= f.text_field :title, value: "#{@question.title}" %>
      <%= f.text_field :content, value: "#{@question.content}"%>
      <%= submit_tag "Submit" %>
    <% end %>
  </p>
</div>