<!-- TODO: Display all jokes (Eventually split into highest votes/most recent/trending partials) -->
<div class="container">
  <div class="edit">
    <% if current_user %>
      <%= link_to "New", new_question_path %>
    <% end %>
  </div>
  <div class="all-questions">
    <ul>
      <%= render partial: "question", collection: @questions %>
    </ul>
  </div>
</div>
