<%# @recent_questions.first.title %>
<%# @highest_voted_questions.first.title %>
<div class="container">
  <div class="edit">
    <% if current_user %>
      <%= link_to "Post A Question", new_question_path %>
    <% end %>
  </div>

<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#highest-voted" data-toggle="tab">Highest Voted</a></li>
        <li><a href="#most-recent" data-toggle="tab">Most Recent</a></li>
        <li><a href="#all" data-toggle="tab">All</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="highest-voted">
            <h1> Highest Voted </h1>
            <table class="table table-hover" id="highest-voted">
                <thead>
                  <tr>
                    <th>Votes</th>
                    <th>Comments</th>
                    <th>Question</th>
                    <th>Posted</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: "question", collection: @highest_voted_questions  %>
                </tbody>
              </table>


        </div>
        <div class="tab-pane" id="most-recent">
            <h1> Most Recent </h1>
              <table class="table table-hover" id="most-recent">
                  <thead>
                    <tr>
                      <th>Votes</th>
                      <th>Comments</th>
                      <th>Question</th>
                      <th>Posted</th>
                      <th>Username</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render partial: "question", collection: @recent_questions  %>
                  </tbody>
                </table>
              </div>
              </div>

        </div>

        <div class="tab-pane" id="all">
            <h1> All Questions </h1>
            <table class="table table-hover" id="all-questions">
                <thead>
                  <tr>
                    <th>Votes</th>
                    <th>Comments</th>
                    <th>Question</th>
                    <th>Posted</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: "question", collection: @questions %>
                </tbody>
              </table>
        </div>

    </div>
</div>




