<!-- This form will create new questions and the redirect in controller will take you to the new question. -->
<div class="container">
  <h4>Create a question:</h4>
  <p>
    <%= form_for @new_question do |f|%>
      <%= f.text_field :title, placeholder: "Title" %>
      <%= f.text_field :content, placeholder: "Question" %>
      <%= submit_tag "Submit" %>
    <% end %>
  </p>
</div>